.sideDiv {
  display: flex;
  height: 100vh;
  width: 30%;
  padding: 0.5rem;
  border-right: 1px solid;
  overflow-y: scroll;
  overflow-x: scroll;
}
.smallSideDiv {
  width: 4%;
}
.smallSideDiv p {
  display: none;
}
.smallSideDiv .sideLi {
  padding: 1rem;
}
.sideLi {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 10rem 1rem 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  font-size: 2rem;
}

.sideLi:hover {
  transition: 0.2s;
  background-color: #5b5b5b0f;
}

.sideLi p {
  font-size: 2rem;
}

.activeLi {
  text-decoration: underline;
  text-decoration-color: red;
}
