*{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
  margin: 0px;
  padding: 0px;
}
a,
li,
button,
img {
  cursor: pointer;
  text-decoration: none;
  list-style-type: none;
}
